body{
  /* background-color: rgb(83, 83, 172); */
  background-color: rgb(238, 243, 245);
  text-align: center;
  /* backdrop-filter: blur(10px); */
}

.container{
  /*background-color: aqua; 
  background-color: rgba(0, 0, 0, 0.5);
  */
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  border-radius: 5px;
  box-shadow: 0 0 20 rgba(235, 154, 201, 0.2);
  border-style: solid;
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  border-color: rgb(147, 87, 175);
  background-image: ;
}

h1{
  /* font-size: x-large; */
  text-align: center;
  color: blueviolet;
  font-size: 35px;  
}

input{
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1.5px solid darkcyan;
  border-radius: 150px;
}

select{
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1.5px solid darkcyan;
  border-radius: 5px;
  font-size: 12px;
}

textarea{
  resize: none;
  width: 98%;
  min-height: 100px;
  max-height: 150px;

}

button{
  padding: 10px 15px;
  border-radius: 6px;
  margin: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: rgb(0, 68, 255);
  width: 40%;
  font-size: 16px;
}

button:hover{
  background-color:goldenrod ;
}

label{
  font-weight: bold;
}

.rd{
  display: flex;
  /*padding-left: 3px;*/
}

hr{
  height: 1.5px;
  background-color: blueviolet;
}

p{
  font-style: italic;
  font-size: 14px;
}

fieldset{
  margin-top: 29px;
}
